body,html{
    width:100%;
    height:100%;
    background-color: #777777;
}

h1,h2,h3 {
    color: white;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', Arial;
}

h1{
    font-size: 7em;
}

h2 {
    font-size:10em;
    color: #CC66FF;
    display:inline;
}

h2:hover{
    /*color:rgb(4, 95, 4);*/
    color: #CC66FF;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2:active{
    text-shadow:
    1px 3px 0 #000,
    -0.5px -1px 0 #000,
    0.5px -1px 0 #000,
    0.5px 1px 0 #000,
    0.5px 1px 0 #000;
    position: relative;
    top: 2px;
}

#play {
    text-align: center;
    margin: 4em;
}

h3 {
    font-size:5em;
    margin-bottom: 0.6em;
}


#pieces {
    text-align:center;
}

.piece{
    display:inline;
    font-family: 'Yanone Kaffeesatz', Arial;
    color: white;
    border: white 4px solid;
    border-radius:0.1em;
    font-size:6em;
    padding:0.3em;
}

.selected{
    background-color:white;
    color:#777777;
}

.piece:hover:not(.selected) {
    background-color:#BBBBBB;
    color:#888888;
}

#x {margin-right:0.1em;}
#o {margin-left:0.1em;}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    width:100%;
    height:100%;
}

table {
    display:relative;
    width:400px;
    height:400px;
    margin: auto;
}

.square {
    position: relative;
    width: 50%;
    overflow: hidden;
    margin:auto;
}

.square:before {
    content: "";
    display: block;
    padding-top: 100%;
}

tr {
}

td {
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 10em;
    text-transform: uppercase;
    padding:0;
    position:relative;
    width:33.333333333%;
}

td.v {
    border-left:5px solid white;
    border-right:5px solid white;
}

td.h{
    border-top:5px solid white;
    border-bottom:5px solid white;
}

#overlay.visible {
    opacity : 0.75;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height:100%;
    z-index: 5000;
    -webkit-transition: background-color 2000ms linear, visibility 2000ms linear;
    -moz-transition: background-color 2000ms linear, visibility 2000ms linear;
    -o-transition: background-color 2000ms linear, visibility 2000ms linear;
    -ms-transition: background-color 2000ms linear, visibility 2000ms linear;
    transition: background-color 2000ms linear, visibility 2000ms linear;
, visibility 2000ms linear}

#overlay:not(.visible){
    visibility: hidden;
}

#overlay:not(.visible) p{
    visibility: hidden;
}

#overlay.visible *{
    color:white;
    font-size: 10em;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', Arial;
    -webkit-transition: background-color 2000ms linear, visibility 2000ms linear;
    -moz-transition: background-color 2000ms linear, visibility 2000ms linear;
    -o-transition: background-color 2000ms linear, visibility 2000ms linear;
    -ms-transition: background-color 2000ms linear, visibility 2000ms linear;
    transition: background-color 2000ms linear, visibility 2000ms linear;
}

.win{background-color:green;}
.lose{background-color:red;}
.tie{background-color:#8b8b0a;}

#overlay.visible a {
    position: fixed;
    bottom: 10px;
    text-decoration: none;
}

#move_storage, #piece_storage {
    display:none
}

form{
    display:none;
}
